html{
    min-width: 333px;
}

body{
    background-color: rgb(1, 217, 255);
}

#buttonBox{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
    margin: 2em 0 2em 0;
}

.playerChoice{
    background-color: rgb(4, 126, 147);
    border: solid rgb(2, 76, 89) 1px;
    color: white;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 48px;
    width: 9em;
}

#resultDisplay p {
    margin: 20px 0.5em 0 0.5em ;
    text-align: center;
}

#roundResult, #choicePC{
    font-size: 24px;
}

#currentScore {
    text-transform: uppercase;
    font-size: 30px;
}

@media (max-width: 480px) {
    .playerChoice{
        width: 90%;
    }
}